{
	"author": "Paul Doucet <paul+web@atlanticresearch.ca> (http://www.atlanticresearch.ca)",
	"main": "builder.coffee",
	"name": "builder",
	"description": "Project build tool designed for web apps",
	"version": "0.0.1",
	"repository": {
		"url": ""
	},
	"dependencies": {
		"coffee-script": "*",
		"shelljs": "*"
	},
	"devDependencies": {},
	"optionalDependencies": {},
	"engines": {
		"node": "*"
	}
}
