{
	"author": "Paul Doucet <paul+web@paulswildyears.com> (http://www.paulswildyears.com)",
	"name": "builder",
	"description": "Project build tool designed for web apps",
	"version": "0.1.0",
	"repository": {
		"url": ""
	},
	"main": "lib/builder.coffee",
	"bin": {
		"builder": "./bin/builder"
	},
	"directories" : {
		"lib" : "./lib"
	},
	"dependencies": {
		"coffee-script": "*",
		"shelljs": "*",
		"uglify-js": "*",
		"escodegen": "*",
		"commonjs-everywhere": "*",
		"crypto": "*"
	},
	"devDependencies": {},
	"optionalDependencies": {
		"growl": "*"
	},
	"engines": {
		"node": "*"
	}
}
